@{
    ViewData["Title"] = "Home Page";
}

<div class="row w-100">
    <div class="offset-md-5 col-md-6 text-center text-white home-page">
        <h1>Welcome to George Bank</h1>
        <h5>
            The purpose of this web application is to provide information and facilitate interaction with your funds. You have the opportunity to take out a loan, as well as purchase various assets.
        </h5>
        <p>Login to start.</p>
    </div>
</div>