@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>George Bank collects, analyzes and uses the information you provide. We are not responsible for any incidents. </p>
</div>